html, body, .app {
    height: 100vh;
    background: white;
}

ul {
    padding: 0;
    margin: 0;
}

select {
    -webkit-appearance: none;
    border: none;
}

li {
    -webkit-box-sizing: none;
    box-sizing: none;
}

input:focus {
    outline: none;
}

.header-outer {
    background-color: white;
    transition: all 0.2s ease-in-out;
}

.header-outer-fixed {
    background-color: white;
    top: 0;
    z-index: 1000;
    position: sticky;
    box-shadow: 0 1px 1px rgba(0,0,0,.15);
    animation: slide-in--down 420ms cubic-bezier(.165,.84,.44,1);
}

@keyframes slide-in--up {
    0% {
        transform: translateY(0);
    } 100% {
        transform: translateY(-100%);
    }
}

@keyframes slide-in--down {
    0% {
        transform: translateY(-100%);
    } 100% {
        transform: translateY(0);
    }
}

.header {
    height: 70px;
    margin: 0 105px;
}

.signin-header {
    height: 70px;
    padding: 0 16px;
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
    position: sticky;
    top: 0;
    background-color: white;
}

.signin-body {
    background-color: #f9f9f9;
}

.signin-body-inner {
    padding: 26px 32px 96px 32px;
    margin: 0 208px;
}

.signin-body-inner-inner {
    padding: 32px;
    margin: 0 162px 32px 162px;
    background-color: white;
    border: 1px solid #e8e8e8;
    box-shadow: 0 1px 0 rgba(0,0,0,.25);
    border-radius: .25rem;
}

.signin-body-inner-inner h1 {
    font-family: 'Lato',sans-serif;
    font-weight: bold;
    font-size: 32px;
    margin-bottom: 16px;
    display: flex;
    justify-content: center;
}

.signin-body-inner-input {
    margin: 0 96px 11px 96px;
    padding-right: 11px;
    height: 239px;

}

.right-header {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.signin-right-header {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
}

.signin-right-header button {
    padding: 10px 14px 12px 14px;
    background-color: transparent;
}

.right-header-sign-in:hover {
    font-weight: 100 !important;
    color: #3f46ad !important;
}

.signin {
    height: 70px;
    display: flex;
    align-items: center;
}

.signin img {
    width: 35px;
}

.logo {
    height: 70px;
    display: flex;
    align-items: center;
}

.logo img {
    width: 35px;
}

.logo-name {
    font-family: 'Lato';
    font-weight: bold;
    font-size: 29px;
    margin-left: 6px;
    padding-bottom: 4px;
}

.signin ul {
    display: flex;
    height: 100%;
    align-items: center;
    margin-left: 29px;
}

.logo ul {
    display: flex;
    height: 100%;
    align-items: center;
    margin-left: 29px;
}

.signin li {
    padding: 8px 7px 9px 7px;
    margin-left: 9px;
    line-height: 15px;
    list-style: none;
    font-family: 'Lato',appleLogo,sans-serif;
    font-size: 14px;
    color: #717274;
    cursor: pointer;
}

.signin li:hover {
    background-color: rgba(0,0,0,.1);
    border-radius: 4px;
}

.logo li {
    padding: 16px;
    line-height: 19px;
    list-style: none;
    font-family: Slack-Averta,appleLogo,sans-serif;
    font-size: 15px;
    font-weight: 100;
    color: #5b5e6d;
    cursor: pointer;
}

.logo li:hover {
    color: black;
    font-weight: bold;
}

.signin button {
    font-weight: 500;
    line-height: 18px;
    width: fit-content;
    padding: 10px 14px 12px;
    font-family: NotoSansJP,Slack-Lato,appleLogo,sans-serif;
    color: #717274;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 17px;
    margin-right: 4px;
    cursor: pointer;
    box-shadow: inset 0 0 0 2px #717274;
    transition: box-shadow 420ms cubic-bezier(.165,.84,.44,1),color 420ms cubic-bezier(.165,.84,.44,1),background 420ms cubic-bezier(.165,.84,.44,1);
}

.logo button {
    font-weight: 500;
    line-height: 18px;
    width: fit-content;
    padding: 14px 16px;
    background-color: #3f46ad;
    color: white;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 18px;
    cursor: pointer;
    transition: box-shadow 420ms cubic-bezier(.165,.84,.44,1),color 420ms cubic-bezier(.165,.84,.44,1),background 420ms cubic-bezier(.165,.84,.44,1);
}

.signin-body-inner-input p {
    margin-bottom: 16px !important;
    font-family: 'Lato',appleLogo,sans-serif;
    font-size: 16px;
    color: #2c2d30;
    display: flex;
    justify-content: center;
}

.signin-body-inner-inner-input {
    display: flex;
    height: 58px;
}

.find-workspace {
    display: inline-block !important;
    text-align: center;
}

.signin-body-inner-inner-input input {
    padding: 12px;
    border: 1px solid #919193;
    border-radius: .25rem;
    color: #2c2d30;
    margin: 0 8px 8px 0;
    width: 72%;
    font-family: 'Lato',appleLogo,sans-serif;
    font-size: 20px;
    text-align: end;
}

.signin-body-inner-inner-input span {
    margin-bottom: 8px;
    font-size: 20px;
    font-family: 'Lato',appleLogo,sans-serif;
    color: #2c2d30;
    display: flex;
    align-items: center;
    font-weight: bold;
}

.signin-body-inner-input button {
    margin: 8px 0 32px 0;
    padding: 14px 32px 16px 32px;
    background-color: #008952;
    font-family: 'Lato',appleLogo,sans-serif;
    font-weight: bold;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .25rem;
    cursor: pointer;
    width: 100%;
    color: white;
    position: relative;
}

.continue-arrow {
    position: absolute;
    right: 115px;
    top: 20px;
}

.signin-body-inner-input button:hover {
    box-shadow: 0 1px 4px rgba(44,45,48,.3);
}

strong {
    margin-left: 5px;
}

.logo button:hover {
    color: #6d6f7b;
}

.first-section {
    padding: 90px 0 64px 0;
}

.first-section-inner {
    margin: 0 36px;
    display: flex;
    justify-content: space-between;
}

.first-section-inner img {
    width: 655px;
    height: 584px;
}

.first-section-right {
    width: 49%;
    padding-right: 87px;
}

.first-section-right h1 {
    font-size: 94px;
    font-family: Slack-Tiempos,"Times New Roman",Georgia,serif;
    line-height: 1;
    margin-bottom: 16px;
    color: #323648;
}

.first-section-right p {
    margin-bottom: 32px;
    color: #5b5e6d;
    font-size: 19px;
    font-weight: 100;
    line-height: 31px;
}

.first-section-input {
    height: 57px;
    display: flex;
    margin-top: 8px;
}

.first-section-input input {
    width: 324px;
    padding: 18px 16px;
    margin-right: 8px;
    border: 1px solid #a8a9b0;
    color: #5b5e6d;
    font-weight: 100;
    border-radius: 4px;
    font-size: 16px;
}

.first-section-input button {
    font-weight: 500;
    line-height: 18px;
    width: fit-content;
    padding: 19px 40px 20px 40px;
    background-color: #3f46ad;
    color: white;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: box-shadow 420ms cubic-bezier(.165,.84,.44,1),color 420ms cubic-bezier(.165,.84,.44,1),background 420ms cubic-bezier(.165,.84,.44,1);
}

.first-section-input button:hover {
    background-color: #1c299d;
}

.purple-border {
    border: 1px solid #3f46ad !important;
}

.sign-in-disclaimer {
    font-size: 15px !important;
    margin-top: 16px;
}

.sign-in-disclaimer a {
    border-bottom: 1px solid #1c299d;
    color: #3f46ad;
}

.sign-in-disclaimer a:hover {
    color: #1c299d;
    border-bottom: 1px solid #1c299d;
}

.second-section {
    padding: 48px 0;
    height: fit-content;
}

.second-section-inner {
    margin: 0 288px;
    display: flex;
    justify-content: center;
    flex-flow: column;
}

.second-section-inner h2 {
    margin: 26px 0 16px 0 !important;
    font-family: Slack-Tiempos,"Times New Roman",Georgia,serif;
    color: #323648;
    font-size: 36px;
    height: fit-content;
    text-align: center;
}

.second-section-inner p {
    color: #5b5e6d;
    font-size: 19px;
    font-weight: 100;
    line-height: 31px;
    text-align: center;
    margin-bottom: 24px;
}

.second-section-inner-bottom {
    margin: 0 105px;
    display: flex;
    justify-content: center;
    flex-flow: wrap;
    padding-bottom: 64px;
}

.second-section-column-wrapper {
    display: flex;
    justify-content: space-between;
}

.second-section-column {
    width: 22%;
    padding: 48px 0;
    margin-bottom: 6px;
}

.convos {
    width: 78px;
    margin-bottom: 16px;
}

.binoculars {
    width: 87px;
    margin-bottom: 16px;
}

.gears {
    width: 58px;
    margin-bottom: 16px;
}

.lock {
    width: 44px;
    margin-bottom: 16px;
}

.second-section-column p {
    margin-bottom: 8px !important;
    font-size: 16px;
    font-weight: bold;
    color: #323648;
    line-height: 24px;
}

.second-section-column-content {
    font-weight: 100 !important;
    color: #5b5e6d !important;
    margin-bottom: 0 !important;
}

.second-section-learn-more {
    line-height: 22px;
    color: #3f46ad;
    border-bottom: 1px solid #3f46ad;
    font-size: 18px;
    margin-bottom: 16px;
    width: fit-content;
    cursor: pointer;
    transition: all 420ms cubic-bezier(.165,.84,.44,1);
    position: relative;
}

.second-section-learn-more:before {
    transition: width 420ms cubic-bezier(.165,.84,.44,1);
    position: absolute;
    bottom: -2px;
    width: 0;
    content: '';
    border-bottom: 2px solid #eeb523;
}

.second-section-learn-more:hover:before {
    width: 100%;
}

.third-section {
    border-top: 1px solid #ebebeb;
    background-color: #f5f5f5;
    padding: 80px 0;
}

.third-section-inner {
    margin: 0 288px;
}

.third-section-inner h2 {
    margin: 26px 0 16px 0 !important;
    font-family: Slack-Tiempos,"Times New Roman",Georgia,serif;
    color: #323648;
    font-size: 36px;
    height: fit-content;
    text-align: center;
}

.third-section-inner p {
    color: #5b5e6d;
    font-size: 19px;
    font-weight: 100;
    line-height: 31px;
    text-align: center;
    margin: 0 112px 24px 112px !important;
}

.third-section-inner-bottom {
    margin: 0 105px;
    padding: 48px 0 16px 0;
    background-image: url(https://i.imgur.com/ZkJRxtd.png), url(https://i.imgur.com/6YDQMpJ.png), url(https://i.imgur.com/QCJeoYS.png);
    background-repeat: no-repeat,no-repeat,no-repeat;
    background-position: top left,25% 95%,bottom right;
}

.third-section-inner-bottom-inner {
    margin: 0 160px;
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
}

.third-section-grid-box {
    margin: 16px;
    height: 133px;
    width: 29.8%;
    background-color: white;
    font-size: 19px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 420ms cubic-bezier(.165,.84,.44,1);
    position: relative;
}

.third-section-grid-box:hover {
    background-color: #3f46ad;
    transform: scale(1.04);
    color: white;
}

.fa-arrow-right {
    color: white;
    font-size: 14px;
}

.arrow-1 {
    position: absolute;
    right: 94px;
    top: 60px;
}

.arrow-2 {
    position: absolute;
    right: 72px;
    top: 60px;
}

.arrow-3 {
    position: absolute;
    right: 39px;
    top: 60px;
}

.arrow-4 {
    position: absolute;
    right: 66px;
    top: 60px;
}

.arrow-5 {
    position: absolute;
    right: 109px;
    top: 60px;
}

.arrow-6 {
    position: absolute;
    right: 104px;
    top: 60px;
}

.fourth-section {
    border-top: 1px solid #ebebeb;
    padding: 112px 0 48px 0;
}

.fourth-section-inner {
    margin: 0 105px;
}

.fourth-section-inner-inner {
    margin: 0 183px;
    padding-bottom: 32px;
}

.fourth-section-inner-inner h2 {
    margin-bottom: 0 0 16px 0 !important;
    font-family: Slack-Tiempos,"Times New Roman",Georgia,serif;
    color: #323648;
    font-size: 36px;
    height: fit-content;
    text-align: center;
}

.fourth-section-inner-inner p {
    color: #5b5e6d;
    font-size: 19px;
    font-weight: 100;
    line-height: 31px;
    text-align: center;
    margin: 0 64px !important;
}

.fourth-section-inner-bottom {
    margin: 16px 176px 0 176px;
    display: flex;
    justify-content: space-between
}

.fourth-section-column {
    width: 48.5%;
    margin-bottom: 16px;
    box-shadow: 0 0 2rem rgba(0,0,0,.1);
    transition: transform 420ms cubic-bezier(.165,.84,.44,1);
    cursor: pointer;
    display: flex;
    flex-flow: column;
}

.fourth-section-column-header {
    padding: 24px 64px 24px 24px;
}

.fourth-section-column-header span {
    font-size: 14px;
    font-weight: bold;
    color: #323648;
    line-height: 18px;
}

.fourth-section-column-header h3 {
    margin: 4px 0 16px 0 !important;
    line-height: 34px;
    font-size: 24px;
    font-family: Slack-Tiempos,"Times New Roman",Georgia,serif;
    color: #323648;
}

.fourth-section-read-story {
    height: 64px;
    padding: 0 24px;
    color: #3f46ad;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.fourth-section-read-story:hover {
    color: white;
    background-color: #3f46ad;
}

.fourth-section-column img {
    width: 100%;
    height: 272px;
}

.fourth-section-column:hover {
    box-shadow: 0 0 2rem rgba(0,0,0,.2);
}

.fourth-section-read-story span {
    font-size: 14px;
    font-weight: bold;
}

.fa-align-left {
    transform: rotateX(180deg);
}

.fifth-section {
    padding-bottom: 64px;
}

.fifth-section-header {
    margin: 64px 288px !important;
    font-family: Slack-Tiempos,"Times New Roman",Georgia,serif;
    color: #323648;
    font-size: 36px;
    height: 38px;
    text-align: center;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fifth-section-inner {
    margin: 0 105px;
}

.fifth-section-inner-inner {
    margin: 0 112px 16px 112px;
    display: flex;
    justify-content: space-between;
}

.fifth-section-column {
    width: 28.5%;
    margin-bottom: 6px;
    box-shadow: 0 0 2rem rgba(0,0,0,.1);
    cursor: pointer;
    display: flex;
    align-content: space-between;
    flex-flow: wrap;
}

.fifth-section-column:hover {
    box-shadow: 0 0 2rem rgba(0,0,0,.2);
    transform: scale(1.05);
}

.fifth-section-column img {
    width: 100%;
    height: 184px;
    padding: 12px;
    object-fit: cover;
}

.fifth-section-column-content {
    padding: 0 12px;
}

.fifth-section-column-content span {
    margin-top: 8px;
    color: #5b5e6d;
    font-size: 14px;
    line-height: 18px;
}

.fifth-section-column-content h3 {
    margin: 8px 0 16px 0 !important;
    line-height: 30px;
    font-size: 24px;
    color: #323648;
    font-family: Slack-Tiempos,"Times New Roman",Georgia,serif;
}

.fifth-section-read-story {
    height: 48px;
    padding: 0 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #3f46ad;
    width: 100%;
    font-weight: bold;
}

.fifth-section-read-story-arrow {
    color: #3f46ad;
}

.sixth-section {
    border-top: 1px solid #ebebeb;
    padding: 48px 0;
    background-color: #3f46ad;
    background-image: url(https://i.imgur.com/YH2Rw3Z.png);
    background-repeat: repeat;
    height: 273px;
    display: flex;
    align-items: center;
}

.sixth-section-inner {
    margin: 0 444px;
    height: 127px;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
}

.sixth-section-inner h3 {
    margin: 0 0 32px 0 !important;
    line-height: 30px;
    font-size: 36px;
    color: white;
    font-family: Slack-Tiempos,"Times New Roman",Georgia,serif;
    text-align: center;
}

.sixth-section-inner button {
    font-weight: bold;
    line-height: 18px;
    width: fit-content;
    padding: 19px 40px 20px 40px;
    background-color: white;
    color: #3f46ad;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: box-shadow 420ms cubic-bezier(.165,.84,.44,1),color 420ms cubic-bezier(.165,.84,.44,1),background 420ms cubic-bezier(.165,.84,.44,1);
}

.sixth-section-inner button:hover {
    box-shadow: inset 0 0 0 2px #1c299d;
}

.footer {
    border-top: 1px solid #ebebeb;
    padding: 80px 0;
}

.footer-inner {
    margin: 0 105px;
    display: flex;
    justify-content: space-between;
}

.footer-inner img {
    width: 54px;
    height: 54px;
    margin-top: 12px;
}

.footer-inner-right {
    width: 66%;
    display: flex;
    margin-bottom: 16px;
}

.footer-inner-right-column {
    width: 25%;
}

.footer-inner-right-column p {
    padding: 8px 0;
    font-size: 14px;
    line-height: 16px;
    color: #6d6f7b;
    font-weight: bold;
    margin-bottom: 0;
}

.footer-inner-right-column li {
    padding: 8px 0;
    font-weight: 100;
    color: #6d6f7b;
    font-size: 14px;
    list-style: none;
    cursor: pointer;
}

.footer-inner-right-column li:hover {
    color: #3f46ad;
}

.footer-bottom {
    height: 84px;
    background-color: #f5f5f5;
}

.footer-bottom-inner {
    margin: 0 105px;
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.footer-bottom-inner ul {
    display: flex;
    align-items: center;
}

.footer-bottom-inner li {
    margin-right: 16px;
    font-size: 14px;
    font-weight: bold;
    color: #6d6f7b;
    list-style: none;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.footer-bottom-inner li > select {
    font-weight: bold;
    font-family: Slack-Averta,appleLogo,sans-serif;
    color: #6d6f7b;
    cursor: pointer;
}

.footer-bottom-inner li > select:hover {
    color: #1c299d;
}

.footer-bottom-inner li:hover {
    color: #1c299d;
}

.margin-left {
    margin-left: 16px;
    margin-right: 0 !important;
}

.fa-facebook {
    font-size: 21px;
}

.fa-twitter {
    font-size: 19px;
}

.fa-youtube {
    font-size: 19px;
}

.fa-linkedin {
    font-size: 22px;
}

.fa-angle-down {
    margin-left: 16px;
    font-size: 22px;
}

.signin-body-inner a {
    color: #0576b9;
    font-weight: bold !important;
    margin-left: 5px;
}

.signin-body-inner p {
    font-size: 16px;
    display: flex;
    justify-content: center;
}

.signin-body-inner a:hover {
    text-decoration: underline;
}

.find-workspace a {
    color: #0576b9;
    font-weight: bold;
}

.find-workspace a:hover {
    text-decoration: underline;
}